* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Circular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.MuiSlider-root {
  color: #fff !important;
  grid-area: 1 / 1 / span 1 / span 3;
}

.MuiSlider-rail,
.MuiSlider-track {
  height: 4px !important;
  border-radius: 4px !important;
}

.MuiSlider-thumb {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
  margin-top: -6px !important;
  border: 2px solid #000;
}
